
/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");


/* GLOBAL STYLING  */

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;

}

html{
    scroll-behavior: smooth;
}

p{
    color: rgb(85, 85, 85);
}


/* TRANSITION */

a, 
.btn{
    transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a{
    color: #000;
    text-decoration: none;
    text-decoration-color:#fff ;
}

a:hover{
    color: #2a86ff;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(42, 134, 255);
}

.logo{
    font-size: 1.5rem;
    color: #2a86ff;
    font-weight: 600;
}

.logo:hover{
    cursor: pointer;
}

/* HAMBURGER NAVIGATION */
#hamburger-nav{
    display: none;
}

.hamburger-menu{
    position: relative;
    display: inline-block;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background: #000;
    transition: all 0.3s ease-in-out;
}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition:  all 0.3s ease-in-out;
}

.menu-links a{
    display: flex;
    padding: 10px;
    text-align: center;
    color: #000;
    text-decoration:none;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
}

.menu-links li{
    list-style: none;
}

.menu-links.open{
    max-height: 300px;
}

.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}

.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(-10px, -5px);
}

.hamburger-icon span:first-child{
    transform: none;
}

.hamburger-icon span:first-child{
    opacity: 1;
}

.hamburger-icon span:first-child{
    transform: none;
}

/* SECTIONS STYLE*/
.profile__image{
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container{
    display: flex;
}

/* PROFILE SECTION*/

#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__text{
    align-self: center;
    text-align: center;
    margin: auto;
}

.section__text p{
    font-weight: 600;
}

.section__text__p1{
    text-align: center;
}

.section__text__p2{
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

/* ANIMATION */
.animated-text span{
    position: relative;
}

.animated-text span::before{
    content: "Web Designer";
    color: #2a86ff;
    animation:  words 20s infinite;
}

.animated-text span::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 100%;
    background-color: #2a86ff;
    border-left: 2px solid #30353c;
    right: -8px;
    animation:  cursor .8s infinite;   
}
/* ANIMATION END HERE*/

.title{
    font-size: 3rem;
    text-align: center;
}

#socials__container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ICON STYLES */

.icon{
    cursor: pointer;
    height: 2rem;
    margin-top: 0.75rem;
    padding: 5px;
}


/* BUTTONS STYLE*/

.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 1rem;
    border: none;
}

#btn__color-2{
    border:rgb(237, 234, 222) 0.1rem solid;
}

.btn-color-1:hover, 
.btn-color2:hover{
    cursor: pointer;
}

.btn-color-1,
.btn-color2:hover{
    background: rgb(53, 53, 53);
    color: #fff;
}

.btn-color-1:hover{
    background: rgb(0, 0, 0);
}

.btn-color-2:hover{
    border: rgb(255, 255, 255) 0.1rem solid;
    cursor: pointer;
    background: rgb(53, 53, 53);
    color: #fff;
}

.btn-container{
    gap: 1rem;
}

/* ABOUT SECTION */

#about{
    position: relative;
}

.about-containers{
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container{
    justify-content: center;
    flex-direction: column;
}

.about-containers, 
.about-details-container{
    display: flex;
}

.about-pic{
    border-radius: 2rem;
}

.arrow{
    position: absolute;
    right: -5rem;
    bottom: 2.3rem;
}

.details-container{
    padding: 1.5rem;
    flex: 1;
    background-color: #fff;
    border-radius: 0.5rem;
    border:rgb(237, 234, 222) 0.1rem solid;
    text-align: center;
}

.section-container{
    gap: 4rem;
    height: 80%;
}

/* EXPERIENCE SECTION*/

#skills{
    position: relative;
}

.skills-sub-title{
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.skills-details-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
    overflow: hidden;
}

article{
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon{
    cursor: default;
}

/* PROJECT SECTION*/


#projects{
    position: relative;
  }
  
.color-container{
    border:rgb(237, 234, 222) 0.1rem solid;
    background: rgb(250, 250, 250);
}
  
.project-img{
    border-radius: 0.5rem;
    width: 90%;
    height: 90%;
    transition: 1s ease;
    box-shadow: 2px 2px 4px rgba(145, 145, 145, 0.4);
}

.project-img:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    }
  
.project-title{
    margin: 1rem;
    color: black;
    font-size: 1rem;
}
  
.project-btn{
    color: black;
    border-color: rgb(163, 163, 163);
}

/* CONTACT SECTION*/

#contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact-info-upper-container{
    display: flex;
    justify-self: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: (250,250,250);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p{
    font-size: larger;
}

.contact-icon{
    cursor: default;
}

.email-icon{
    height: 2.5rem;
}

/* FOOTER SECTION*/

footer{
    height: 26vh;
    margin: 0 1rem;
}

footer p{
    text-align: center;
}
